{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">

<style>
    .form-group {
        margin-bottom: 20px;
    }
    .form-group label {
        font-weight: bold;
    }
    .form-group input, select {
        border-radius: 5px;
        padding: 10px;
        width: 270px;
        font-size: 16px;
        border: 1px solid #ced4da;
    }
    .form-group textarea {
        background: transparent;
        border: 1px solid gray;
        padding: 1rem;
        border-radius: 15px;
        width: 100%;
        height: 100px;
        color: black;
        font-weight: 500;
        outline: none;
    }
</style>    

<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">{{ page_title }}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Add Non-Staff</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Add Non-Staff Form -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-auto float-right ml-auto">
                            <a href="{% url 'non_staff_list' %}" class="btn add-btn" data-toggle="modal"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        <h4 class="card-title mb-0">Add Non-Staff Member</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Non-Staff Information</h4>
                        <form method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group row">
                                        <label for="id_number" class="col-lg-3 col-form-label">ID Number</label>
                                        <div class="col-lg-9">
                                            {{ form.id_number }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="first_name" class="col-lg-3 col-form-label">First Name</label>
                                        <div class="col-lg-9">
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="last_name" class="col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-lg-9">
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="email" class="col-lg-3 col-form-label">Email</label>
                                        <div class="col-lg-9">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="phone" class="col-lg-3 col-form-label">Phone</label>
                                        <div class="col-lg-9">
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="address" class="col-lg-3 col-form-label">Address</label>
                                        <div class="col-lg-9">
                                            {{ form.address }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="role" class="col-lg-3 col-form-label">Role</label>
                                        <div class="col-lg-9">
                                            {{ form.role }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="photo" class="col-lg-3 col-form-label">Photo</label>
                                        <div class="col-lg-9">
                                            {{ form.photo }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="passport_photo" class="col-lg-3 col-form-label">Passport Photo</label>
                                        <div class="col-lg-9">
                                            {{ form.passport_photo }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Non-Staff Form -->
    </div>
</div>
<!-- /Page Wrapper -->

{% endblock %}
