<!-- booked_houses_list.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Booked Houses{% endblock %}

{% block content %}
<link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">

<br>
<br>
<br>
<main id="main" class="main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Booked Houses</h5>
                            <div class="table-responsive">
                                <!-- Table with striped rows -->
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">House Name</th>
                                        <th scope="col">House Number</th>
                                        <th scope="col">Tenant Name</th>
                                        <th scope="col">Tenant Phone</th>
                                        <th scope="col">Tenant Email</th>
                                        <th scope="col">Deposit Amount</th>
                                        <th scope="col">Booking Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking in bookings %}
                                        <tr>
                                            <td>{{ booking.house.name}}</td>
                                            <td>{{ booking.house.house_number }}</td>
                                            <td>{{ booking.name }} </td>
                                            <td>{{ booking.phone}}</td>
                                            <td>{{ booking.email }}</td>
                                            <td>{{ booking.deposit_amount }}</td>
                                            <td>{{ booking.booking_date|date:"Y-m-d H:i" }}</td>
                                            <td>
                                                <a href="{% url 'house_detail' booking.house.id %}" class="btn btn-primary">View House Details</a>
                                              
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7">No bookings available.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Table with striped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
