{% extends 'base.html' %}

{% block title %}Home - Online Water Payment{% endblock %}

{% block content %}
    <style>
       
        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }

        .cardx {
            background-color: #fff;
            border-top-left-radius: 58px;
            border-top-right-radius: 58px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }

        .card-headerx {
            background-color: green;
            color: #fff;
            padding: 12px;
            border-top-left-radius: 58px;
            border-top-right-radius: 58px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .card-header {
            background-color: #007bff;
            color: #fff;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            
        }
        
        .card-body {
            padding: 10px;
        }
        
        h3 {
            margin-bottom: 1px;
            font-size:14px;
        }
        h4 {
            margin-bottom: 1px;
            font-size:20px;
        }
        
        h5 {
            margin-bottom: 10px;
        }
        
        p {
            margin-bottom: 5px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 2px;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 1px;
            text-align: left;
            font-size: 12px;
        }
        
        th {
            background-color: #f2f2f2;
        }
        
        .no-payments {
            font-style: italic;
            color: #777;
        }

        h6 {
            margin-bottom: 5px;
            color:red;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        
    </style>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="cardx">
            <div class="card-headerx">
                <h4>Welcome, {{ tenant.first_name }}</h4>
            </div>
            <div class="card-body">
                <h5>Personal Information</h5>
                 <hr>
                <p><strong>Username:</strong> {{ tenant.user_name }}</p>
                <p><strong>Name:</strong> {{ tenant.first_name }}  {{ tenant.last_name }}</p>
                <p><strong>Identification Number:</strong> {{ tenant.identification_number }}</p>
                <p><strong>Email:</strong> {{ tenant.email }}</p>
                <p><strong>Phone:</strong> {{ tenant.phone }}</p>
                <p><strong>Address:</strong> {{ tenant.address }}</p>
                <p><strong> House No:</strong> {{ tenant.tap_no }}</p>
                <h6><a class="nav-link scrollto"  href="{% url 'maintenance_request_create' tenant.id %}">Report maintenance</a> </h6>
            </div>
        </div>


       
        
        <!-- Loop through each month in month_payments_map -->
        {% for month, payments in month_payments_map.items %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ month.name }}</h3>
                </div>
                <div class="card-body">
                    {% if payments %}
                    
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th> Link </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                        <tr>
                                            <td>Ksh {{ payment.amount }}</td>
                                            <td>{{ payment.date_paid }}</td>
                                            <td>   <a href="{% url 'download_receipt' payment.id %}">Download Receipt</a> </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="2" class="no-payments">No payments made for this month.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                   
                    {% else %}
                        <p class="no-payments">No payment history available for this month.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
        <!-- Display a message if no months or payments found -->
        {% if month_payments_map|length == 0 %}
            <p class="no-payments">No payment history available.</p>
        {% endif %}
    </div>
</body>
</html>

{% endblock%}
